/MB1/vivado.log
/MB1/vivado_296.backup.jou
/MB1/vivado_296.backup.log
/MB1/vivado_3984.backup.jou
/MB1/vivado_3984.backup.log
/MB1/vivado_pid296.str
/MB1/_ide
/MB1/MB1.runs
/MB1/MB1.sim
/MB1/vivado.jou
/MS2.cache
/MS2.gen
/MS2.hw
/MS2.ip_user_files
/MS2.runs
/MS2.sim
/MB1/platform/hw/sdt/dfx_runtime.txt
/MB1/platform/hw/sdt/.Xil
